.header-master{
    display: flex;
    background-color: #89918c;
}

.header-image{
    background-image: url('/image/jpeg/wood5.jpeg');
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
}

.header-info{
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-grow:1;
    min-width: 300px;
}

.logo-container{
    display: flex;
}

.logo-image{
    width: 120px;
    height: 120px;
}

.header-right-panel{
    margin: 10px 40px;
}

.site-name{
    font-size: 1.2em;
    align-content: center;
}

.settings-icon .About-icon{
    cursor: pointer;
}

.header-functions{
    align-content: center;
}

.header-description{
    text-align: center;
    margin-top: 200px;
}
